# DataFrames Manipulations

In [1]:
import pandas as pd

## Create Weather datasets

In [2]:
eu_weather_df = pd.DataFrame({
  "town": ["Atina", "Oslo", "London"],
  "temp":[35,21,25],
  "rain": [False, False, True ]
})
eu_weather_df

     town  temp   rain
0   Atina    35  False
1    Oslo    21  False
2  London    25   True

In [3]:
bg_weather_df = pd.DataFrame({
  "town": ["Sofia", "Sandanski", "Pleven"],
  "temp":[25,32,21],
  "rain": [False, False, True ]
})
bg_weather_df

        town  temp   rain
0      Sofia    25  False
1  Sandanski    32  False
2     Pleven    21   True

## Re-arange columns

In [10]:
eu_weather_df = eu_weather_df[["temp", "rain"]]
print(f'rearenged eu_weather_df: \n{eu_weather_df}')

rearenged eu_weather_df:
   temp   rain
0    35  False
1    21  False
2    25   True

In [8]:

# but let get the order back:
eu_weather_df = eu_weather_df[['town', 'temp', 'rain']]
eu_weather_df

     town  temp   rain
0   Atina    35  False
1    Oslo    21  False
2  London    25   True

## Insert Columns

### Insert column into DF at specified location

df.insert(loc, column, value, allow_duplicates: 'bool' = False) -> 'None'

In [ ]:
if not "wind" in eu_weather_df.columns:
    eu_weather_df.insert(3,"wind",[1.5, 7.5, 4])
eu_weather_df

### Concatenate DF along a particular axis

    `pd.concat(
        objs: 'Iterable[NDFrame] | Mapping[Hashable, NDFrame]',
        axis=0,
        join='outer',
        ignore_index: 'bool' = False,
        keys=None,
        levels=None,
        names=None,
        verify_integrity: 'bool' = False,
        sort: 'bool' = False,
        copy: 'bool' = True,
    ) -> 'FrameOrSeriesUnion'`

Concatenate pandas objects along a particular axis with optional set logic
along the other axes.

In [ ]:
wind_df=pd.DataFrame([3.4, 2, 6.5], columns=["wind"])

# we have to specify axis=1, in order to append columns, not rows
bg_weather_df= pd.concat([bg_weather_df, wind_df],axis=1)
bg_weather_df

## Deleting columns

#### in place: with del or pop()

In [ ]:
del bg_weather_df["wind"]
bg_weather_df

#### in new dataframe

In [ ]:
# we have to specify axes=1, in order to drop columns, not rows
df_tmp = eu_weather_df.drop(["wind","rain"], axis=1)
df_tmp

In [ ]:
# note that most oerations of DataFrame objects do not modify the original object, but return a copy 
eu_weather_df

## Append new rows

#### with append()

In [ ]:
# keep original indexes - deafult:
# appended_weather = eu_weather_df.append(bg_weather_df, sort=False)

#auto indexing
appended_weather = eu_weather_df.append(bg_weather_df,sort=False, ignore_index=True )

appended_weather

#### with concat() - for rows, i.e. axis=0

In [ ]:
# keep indexes
concat_weather = pd.concat([eu_weather_df, bg_weather_df],sort=False)

# auto indexing:
# concat_weather = pd.concat([eu_weather_df, bg_weather_df], ignore_index=True, sort=False)

# add keys for each DF
concat_weather = pd.concat([eu_weather_df, bg_weather_df],
                           keys=["EU", "BG"],sort=False)

# later, we can retrieve by index location:
# concat_weather.loc["BG"]

concat_weather

### Concat dataframe as new columns, i.e. axis=1

In [ ]:
print(eu_weather_df)
print(bg_weather_df)
concat_weather_as_columns = pd.concat([eu_weather_df, bg_weather_df], axis=1)
concat_weather_as_columns

## DataFrame Object summary statistics

### describe()

In [ ]:
print(bg_weather_df)
bg_weather_df.describe()

####  count(), max(), min(),mean(), std()

In [ ]:
print(bg_weather_df)
print("***count:\n", bg_weather_df.count())
print("***min:\n", bg_weather_df.min())
print("***std:\n", bg_weather_df.std())