In [13]:
import pandas as pd
import numpy as np

# Grouping Demos

## Load data

In [14]:
# load datasets
df = pd.read_csv('../../datasets/various/drinks.csv')
# remove some 'beer' and 'spirit' columns
df = df.drop(['beer_servings', 'spirit_servings'], axis=1)
df.head(5)

       country  wine_servings  total_litres_of_pure_alcohol continent
0  Afghanistan              0                           0.0        AS
1      Albania             54                           4.9        EU
2      Algeria             14                           0.7        AF
3      Andorra            312                          12.4        EU
4       Angola             45                           5.9        AF

## Groupby Method

df.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=NoDefault.no_default, observed=False, dropna=True)

In [15]:
continents_group = df.groupby('continent')
for continet,continet_df in continents_group:
	print(continet)
	print(continet_df)

AF
                      country  wine_servings  total_litres_of_pure_alcohol  \
2                     Algeria             14                           0.7
4                      Angola             45                           5.9
18                      Benin             13                           1.1
22                   Botswana             35                           5.4
26               Burkina Faso              7                           4.3
27                    Burundi              0                           6.3
28              Cote d'Ivoire              7                           4.0
29                 Cabo Verde             16                           4.0
31                   Cameroon              4                           5.8
33   Central African Republic              1                           1.8
34                       Chad              1                           0.4
38                    Comoros              1                           0.1
39                      Congo              9                           1.7
47                   DR Congo              1                           2.3
49                   Djibouti              3                           1.1
53                      Egypt              1                           0.2
55          Equatorial Guinea            233                           5.8
56                    Eritrea              0                           0.5
58                   Ethiopia              0                           0.7
62                      Gabon             59                           8.9
63                     Gambia              1                           2.4
66                      Ghana             10                           1.8
70                     Guinea              2                           0.2
71              Guinea-Bissau             21                           2.5
88                      Kenya              2                           1.8
95                    Lesotho              0                           2.8
96                    Liberia              2                           3.1
97                      Libya              0                           0.0
100                Madagascar              4                           0.8
101                    Malawi              1                           1.5
104                      Mali              1                           0.6
107                Mauritania              0                           0.0
108                 Mauritius             18                           2.6
114                   Morocco             10                           0.5
115                Mozambique              5                           1.3
117                   Namibia              1                           6.8
123                     Niger              1                           0.1
124                   Nigeria              2                           9.1
142                    Rwanda              0                           6.8
148       Sao Tome & Principe            140                           4.2
150                   Senegal              7                           0.3
152                Seychelles             51                           4.1
153              Sierra Leone              2                           6.7
158                   Somalia              0                           0.0
159              South Africa             81                           8.2
162                     Sudan              0                           1.7
164                 Swaziland              2                           4.7
172                      Togo             19                           1.3
175                   Tunisia             20                           1.3
179                    Uganda              0                           8.3
183                  Tanzania              1                           5.7
191                    Zambia              4                           2.5
192                  Zimbabwe              4                           4.7

    continent
2          AF
4          AF
18         AF
22         AF
26         AF
27         AF
28         AF
29         AF
31         AF
33         AF
34         AF
38         AF
39         AF
47         AF
49         AF
53         AF
55         AF
56         AF
58         AF
62         AF
63         AF
66         AF
70         AF
71         AF
88         AF
95         AF
96         AF
97         AF
100        AF
101        AF
104        AF
107        AF
108        AF
114        AF
115        AF
117        AF
123        AF
124        AF
142        AF
148        AF
150        AF
152        AF
153        AF
158        AF
159        AF
162        AF
164        AF
172        AF
175        AF
179        AF
183        AF
191        AF
192        AF
AS
                  country  wine_servings  total_litres_of_pure_alcohol  \
0             Afghanistan              0                           0.0
12                Bahrain              7                           2.0
13             Bangladesh              0                           0.0
19                 Bhutan              0                           0.4
24                 Brunei              1                           0.6
30               Cambodia              1                           2.2
36                  China              8                           5.0
46            North Korea              0                           0.0
77                  India              0                           2.2
78              Indonesia              0                           0.1
79                   Iran              0                           0.0
80                   Iraq              0                           0.2
82                 Israel              9                           2.5
85                  Japan             16                           7.0
86                 Jordan              1                           0.5
87             Kazakhstan             12                           6.8
90                 Kuwait              0                           0.0
91             Kyrgyzstan              6                           2.4
92                   Laos            123                           6.2
94                Lebanon             31                           1.9
102              Malaysia              0                           0.3
103              Maldives              0                           0.0
112              Mongolia              8                           4.9
116               Myanmar              0                           0.1
119                 Nepal              0                           0.2
127                  Oman              1                           0.7
128              Pakistan              0                           0.0
134           Philippines              1                           4.6
137                 Qatar              7                           0.9
138           South Korea              9                           9.8
141    Russian Federation             73                          11.5
149          Saudi Arabia              0                           0.1
154             Singapore             11                           1.5
161             Sri Lanka              0                           2.2
167                 Syria             16                           1.0
168            Tajikistan              0                           0.3
169              Thailand              1                           6.4
171           Timor-Leste              4                           0.1
176                Turkey              7                           1.4
177          Turkmenistan             32                           2.2
181  United Arab Emirates              5                           2.8
186            Uzbekistan              8                           2.4
189               Vietnam              1                           2.0
190                 Yemen              0                           0.1

    continent
0          AS
12         AS
13         AS
19         AS
24         AS
30         AS
36         AS
46         AS
77         AS
78         AS
79         AS
80         AS
82         AS
85         AS
86         AS
87         AS
90         AS
91         AS
92         AS
94         AS
102        AS
103        AS
112        AS
116        AS
119        AS
127        AS
128        AS
134        AS
137        AS
138        AS
141        AS
149        AS
154        AS
161        AS
167        AS
168        AS
169        AS
171        AS
176        AS
177        AS
181        AS
186        AS
189        AS
190        AS
EU
                country  wine_servings  total_litres_of_pure_alcohol continent
1               Albania             54                           4.9        EU
3               Andorra            312                          12.4        EU
7               Armenia             11                           3.8        EU
9               Austria            191                           9.7        EU
10           Azerbaijan              5                           1.3        EU
15              Belarus             42                          14.4        EU
16              Belgium            212                          10.5        EU
21   Bosnia-Herzegovina              8                           4.6        EU
25             Bulgaria             94                          10.3        EU
42              Croatia            254                          10.2        EU
44               Cyprus            113                           8.2        EU
45       Czech Republic            134                          11.8        EU
48              Denmark            278                          10.4        EU
57              Estonia             59                           9.5        EU
60              Finland             97                          10.0        EU
61               France            370                          11.8        EU
64              Georgia            149                           5.4        EU
65              Germany            175                          11.3        EU
67               Greece            218                           8.3        EU
75              Hungary            185                          11.3        EU
76              Iceland             78                           6.6        EU
81              Ireland            165                          11.4        EU
83                Italy            237                           6.5        EU
93               Latvia             62                          10.5        EU
98            Lithuania             56                          12.9        EU
99           Luxembourg            271                          11.4        EU
105               Malta            120                           6.6        EU
111              Monaco              0                           0.0        EU
113          Montenegro            128                           4.9        EU
120         Netherlands            190                           9.4        EU
126              Norway            129                           6.7        EU
135              Poland             56                          10.9        EU
136            Portugal            339                          11.0        EU
139             Moldova             18                           6.3        EU
140             Romania            167                          10.4        EU
147          San Marino              0                           0.0        EU
151              Serbia            127                           9.6        EU
155            Slovakia            116                          11.4        EU
156            Slovenia            276                          10.6        EU
160               Spain            112                          10.0        EU
165              Sweden            186                           7.2        EU
166         Switzerland            280                          10.2        EU
170           Macedonia             86                           3.9        EU
180             Ukraine             45                           8.9        EU
182      United Kingdom            195                          10.4        EU
OC
              country  wine_servings  total_litres_of_pure_alcohol continent
8           Australia            212                          10.4        OC
40       Cook Islands             74                           5.9        OC
59               Fiji              1                           2.0        OC
89           Kiribati              1                           1.0        OC
106  Marshall Islands              0                           0.0        OC
110        Micronesia             18                           2.3        OC
118             Nauru              8                           1.0        OC
121       New Zealand            175                           9.3        OC
125              Niue              7                           7.0        OC
129             Palau             23                           6.9        OC
131  Papua New Guinea              1                           1.5        OC
146             Samoa             24                           2.6        OC
157   Solomon Islands              1                           1.2        OC
173             Tonga              5                           1.1        OC
178            Tuvalu              9                           1.0        OC
187           Vanuatu             11                           0.9        OC
SA
       country  wine_servings  total_litres_of_pure_alcohol continent
6    Argentina            221                           8.3        SA
20     Bolivia              8                           3.8        SA
23      Brazil             16                           7.2        SA
35       Chile            172                           7.6        SA
37    Colombia              3                           4.2        SA
52     Ecuador              3                           4.2        SA
72      Guyana              1                           7.1        SA
132   Paraguay             74                           7.3        SA
133       Peru             21                           6.1        SA
163   Suriname              7                           5.6        SA
185    Uruguay            220                           6.6        SA
188  Venezuela              3                           7.7        SA

### Groupby Object

groupby() method returns a [GroupBy object](https://pandas.pydata.org/docs/reference/groupby.html)

In [16]:
# get gorups as Dict {group name -> group labels}.
print(continents_group.groups)
print('~'*80)
print(continents_group.indices)

{'AF': [2, 4, 18, 22, 26, 27, 28, 29, 31, 33, 34, 38, 39, 47, 49, 53, 55, 56, 58, 62, 63, 66, 70, 71, 88, 95, 96, 97, 100, 101, 104, 107, 108, 114, 115, 117, 123, 124, 142, 148, 150, 152, 153, 158, 159, 162, 164, 172, 175, 179, 183, 191, 192], 'AS': [0, 12, 13, 19, 24, 30, 36, 46, 77, 78, 79, 80, 82, 85, 86, 87, 90, 91, 92, 94, 102, 103, 112, 116, 119, 127, 128, 134, 137, 138, 141, 149, 154, 161, 167, 168, 169, 171, 176, 177, 181, 186, 189, 190], 'EU': [1, 3, 7, 9, 10, 15, 16, 21, 25, 42, 44, 45, 48, 57, 60, 61, 64, 65, 67, 75, 76, 81, 83, 93, 98, 99, 105, 111, 113, 120, 126, 135, 136, 139, 140, 147, 151, 155, 156, 160, 165, 166, 170, 180, 182], 'OC': [8, 40, 59, 89, 106, 110, 118, 121, 125, 129, 131, 146, 157, 173, 178, 187], 'SA': [6, 20, 23, 35, 37, 52, 72, 132, 133, 163, 185, 188]}
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{'AF': array([  2,   4,  18,  22,  26,  27,  28,  29,  31,  33,  34,  38,  39,
        47,  49,  53,  55,  56,  58,  62,  63,  66,  70,  71,  88,  95,
        96,  97, 100, 101, 104, 107, 108, 114, 115, 117, 123, 124, 142,
       148, 150, 152, 153, 158, 159, 162, 164, 172, 175, 179, 183, 191,
       192]), 'AS': array([  0,  12,  13,  19,  24,  30,  36,  46,  77,  78,  79,  80,  82,
        85,  86,  87,  90,  91,  92,  94, 102, 103, 112, 116, 119, 127,
       128, 134, 137, 138, 141, 149, 154, 161, 167, 168, 169, 171, 176,
       177, 181, 186, 189, 190]), 'EU': array([  1,   3,   7,   9,  10,  15,  16,  21,  25,  42,  44,  45,  48,
        57,  60,  61,  64,  65,  67,  75,  76,  81,  83,  93,  98,  99,
       105, 111, 113, 120, 126, 135, 136, 139, 140, 147, 151, 155, 156,
       160, 165, 166, 170, 180, 182]), 'OC': array([  8,  40,  59,  89, 106, 110, 118, 121, 125, 129, 131, 146, 157,
       173, 178, 187]), 'SA': array([  6,  20,  23,  35,  37,  52,  72, 132, 133, 163, 185, 188])}

In [17]:
# Compute count of group, excluding missing values.
continents_group.count()

           country  wine_servings  total_litres_of_pure_alcohol
continent
AF              53             53                            53
AS              44             44                            44
EU              45             45                            45
OC              16             16                            16
SA              12             12                            12

In [18]:
# Compute max of group values
continents_group.max()

                  country  wine_servings  total_litres_of_pure_alcohol
continent
AF               Zimbabwe            233                           9.1
AS                  Yemen            123                          11.5
EU         United Kingdom            370                          14.4
OC                Vanuatu            212                          10.4
SA              Venezuela            221                           8.3

In [19]:
# Compute sum of group values
continents_group.sum()

           wine_servings  total_litres_of_pure_alcohol
continent
AF                   862                         159.4
AS                   399                          95.5
EU                  6400                         387.8
OC                   570                          54.1
SA                   749                          75.7

In [20]:
# Take the nth row from each group if n is an int, or a subset of rows if n is a list of ints.
# continents_group.nth(1)
continents_group.nth([1,-1])

                  country  wine_servings  total_litres_of_pure_alcohol
continent
AF                 Angola             45                           5.9
AF               Zimbabwe              4                           4.7
AS                Bahrain              7                           2.0
AS                  Yemen              0                           0.1
EU                Andorra            312                          12.4
EU         United Kingdom            195                          10.4
OC           Cook Islands             74                           5.9
OC                Vanuatu             11                           0.9
SA                Bolivia              8                           3.8
SA              Venezuela              3                           7.7